logo-swmb.ico filter=lfs diff=lfs merge=lfs -text
capture-wisemoui.png filter=lfs diff=lfs merge=lfs -text
swmb-setup-1.png filter=lfs diff=lfs merge=lfs -text
swmb-setup-2.png filter=lfs diff=lfs merge=lfs -text
