package           : resinfo-swmb
version           : __VERSION__-__REVISION__
architecture      : x64
section           : base
priority          : optional
name              : SWMB
categories        : system
maintainer        : RESINFO <wapt-dev@listes.resinfo.org>
description       : SWMB - Secure Windows Mode Batch - Securing Windows with automated tweak-based scripts
depends           :
conflicts         :
maturity          : DEV
locale            :
target_os         : windows
min_os_version    :
max_os_version    :
min_wapt_version  :
sources           : https://resinfo-gt.pages.in2p3.fr/swmb/resinfo-swmb/
installed_size    :
impacted_process  :
description_fr    : SWMB - Secure Windows Mode Batch - Sécuriser Windows à l'aide de scripts automatisés basés sur des tweaks
description_pl    :
description_de    :
description_es    :
description_pt    :
description_it    :
description_nl    :
description_ru    :
audit_schedule    :
editor            : CNRS France, RESINFO / GT SWMB
keywords          :
licence           : MIT License
homepage          : https://gitlab.in2p3.fr/resinfo-gt/swmb/resinfo-swmb
package_uuid      :
valid_from        :
valid_until       :
forced_install_on :
changelog         :
signer            :
signer_fingerprint:
signature         :
signature_date    :
signed_attributes :
