package           : resinfo-swmb-kaspersky-uninstall
version           : __VERSION__-__REVISION__
architecture      : x64
section           : base
priority          : optional
name              : SWMB-Kaspersky-Uninstall
categories        : system
maintainer        : RESINFO <swmb-gt@listes.resinfo.org>
description       : SWMB - Remove Kaspersky Endpoint and Network Agent (standalone package)
depends           :
conflicts         :
maturity          : DEV
locale            :
target_os         : windows
min_os_version    :
max_os_version    :
min_wapt_version  :
sources           : https://resinfo-gt.pages.in2p3.fr/swmb/resinfo-swmb/
installed_size    :
impacted_process  :
description_fr    : SWMB - Supprime Kaspersky Endpoint et l'agent (paquet indépendant)
description_pl    :
description_de    :
description_es    :
description_pt    :
description_it    :
description_nl    :
description_ru    :
audit_schedule    :
editor            : CNRS France, RESINFO / GT SWMB
keywords          :
licence           : MIT License
homepage          : https://gitlab.in2p3.fr/resinfo-gt/swmb/resinfo-swmb/-/tree/master/dists/uninstall-kaspersky
package_uuid      :
valid_from        :
valid_until       :
forced_install_on :
changelog         :
signer            :
signer_fingerprint:
signature         :
signature_date    :
signed_attributes : 
